<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" media="screen" />
</head>

<body>
    <header>
        <h1>dvt.life</h1>
        <nav>
            <a href="/" {% if page.url=="/" %} class="current" {% endif %}>
                Home
            </a>
            <a href="/about" {% if page.url=="/about/" %} class="current" {% endif %}>
                About
            </a>
            <a href="/blog" {% if page.url=="/blog/" %} class="current" {% endif %}>
                Blog
            </a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>The footer</p>
    </footer>
</body>

</html>